 body {
    background-color:#00a300 !important;
}
#frm-login {
    max-width:300px;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
    padding:4em;
}
#avatar {
    cursor: pointer;
    border-left: 1px solid gray;
    padding-left: 1em;
    height: 90%;
    width: 7.5em;
    color:gray;
}
#avatar-image {
    height: 2em;
    width: 2em;
    margin-top: 0.5em;
}
#avatar-image img {
    height: 100%;
    width: 100%;
}
.tile {
    height: 8em;
    width: 8em;
    border: solid black 1px;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
.tiles{
    width: 60%;
    margin: 0 auto;
}
.tile h4{
    margin-top: 2em;
}
.span2{
    border: solid 1px blue;
}
.span10{
    border: solid 1px red;
    
}
.table-holder{
    width:80%;
    margin:0 auto;
}
#product-container{
    width:80%;
    margin:0 auto;
}
.product-buttons{
    width:80%;
    margin:0 auto;
}