 body {
    background-color:#00a300 !important;
}
#frm-login {
    max-width:300px;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
    padding:4em;
}
#ajax-loader{
    display:none;
    position:absolute;
    opacity:0.5;
    width:128px;
    height:41px;
    top:40%;
    left:40%;
    background-color: black;
-webkit-border-radius: 47px;
-moz-border-radius: 47px;
border-radius: 47px;
}
#ajax-loader img{
    /*display:none;*/
    width:80%;
    /*margin:0 auto;*/
    height:30%;
    margin-left:10%;
    margin-top:10%;
    
}
.nav a{
    cursor:pointer;
}
#avatar {
    cursor: pointer;
    border-left: 1px solid gray;
    padding-left: 1em;
    height: 90%;
    width: 9em;
    color:gray;
}
#avatar-image {
    height: 2em;
    width: 2em;
    margin-top: 0.5em;
}
#avatar-image img {
    height: 100%;
    width: 100%;
}
.tile {
    height: 8em;
    width: 8em;
    border: solid black 1px;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
.tiles{
    width: 60%;
    margin: 0 auto;
}
.tile h4{
    margin-top: 2em;
}
.span2{
    border: solid 1px blue;
}
.span10{
    border: solid 1px red;
    
}
.table-holder{
    width:80%;
    margin:0 auto;
}
table{
    background-color:white;
}
thead{
    background-color:gray;
}
td img{
    width :9em;
    margin:0 auto;
}
.product-pic{
    width :9em;
}
#product-container{
    width:80%;
    margin:0 auto;
}
.product-buttons{
    width:50%;
    margin:0 auto;
}
.product-buttons button{
    width:9em;
}