body{
    background-color:#00a300 !important;
    }
#frm-login{
    max-width:300px;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
    padding:4em;
    }
#avatar{
    height:90%;
    width:6em;
    border: 1px red solid;
}